.collection {
  width: 900px;
  height: 500px;
  background-color: #141516;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection h2 {
  font-size: 4.375rem;
  font-family: 'Playfair Display', serif;
  line-height: 1.4em;
  margin-bottom: 10px;
  color: aliceblue;
}

.collection span {
  font-size: 1.875rem;
  font-family: 'Playfair Display', serif;
  color: aliceblue;
}

.collection p {
  font-size: 1rem; /* Use rem for better scalability */
  color: #666;
  margin-bottom: 20px;
}

.button {
  background-color: transparent; /* Use transparent instead of rgba */
  color: #fff;
  padding: 16px 36px;
  border: 2px solid #cbb13d;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover,
.button:focus { /* Add focus state for accessibility */
  background-color: #cbb13d;
  transition: all 0.5s;
}

.container {
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  background-color: #fff;
  z-index: 30;
  border-radius: 10px;
 
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

form input:focus {
  border-color: #ff7f50;
  outline: none;
}

form button {
  padding: 10px;
  background-color: #cbb13d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

form button:hover,
form button:focus { /* Add focus state for accessibility */
  background-color: #b89931;
}

.delete {
  color: aliceblue;
  font-size: 1.625rem; /* Use rem for better scalability */
  font-family: sans-serif;
  font-weight: 300;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .collection {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  .text-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .collection h2 {
    font-size: 1.5rem;
  }

  .collection span {
    font-size: 1rem;
  }

  .collection p {
    font-size: 0.9rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .form-container {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
  }

  form input {
    font-size: 0.9rem;
  }

  form button {
    font-size: 0.9rem;
  }
}
